<div class="row">
  <div class="text-head">
    <img class="img-responsive animation" src="img/Text-Header.gif">
  </div>
</div>
<div class="row">
  <div class="animation-background">
    <img class="img-responsive animation" src="img/animation-banner.gif">
  </div>
</div>
<div class="container">
  <div class="row row-spacing">
      <div class="container-margin">
    <div class="col-md-6 col-right-padding">
      <div class="flex-center-vertically">
      <div class="paragraph-title">Easy Selection
      <span><img class="selection-icon" src="img/selection-icon.png"></span>
      </div>
      <p class="paragraph-text">Selecting the right Hitachi AC Variable Frequency Drive for your application has never been easier. Simply enter a few parameters from your motor nameplate and we’ll guide you to the right inverter for you. Our high-performance inverters offer unparalleled flexibility for a variety of application types. Join the growing list of customers enjoying easy-to-use, cutting-edge technology that only Hitachi can offer.</p>
      <p>On the road? The new Hitachi Inverter mobile app allows anyone to easily select the right drive for their application any time, anywhere.</p>
    </div>
    </div>
    </div>
    <div class="container-margin">
      <div class="col-md-6 col-left-padding">
        <div class="flex-center-vertically">
      <div class="vfd-finder-title">
        <h4>Find Your Perfect Inverter</h4>
      </div>


      <div class="btn-group btn-group-justified">
        <div class="btn-group">
          <select class="form-control" ng-model="formObject.phase">
            <option value="" disabled selected>Phase</option>
            <option ng-value="1">Single</option>
            <option ng-value="3">Three</option>
          </select>
        </div>
      </div>


      <div class="btn-group btn-group-justified hpvolt">
        <div class="btn-group">
          <select class="form-control" ng-model="formObject.hp">
            <option value="" disabled selected>Horsepower</option>
            <option value="0.125">1/8</option>
            <option value="0.25">1/4</option>
            <option value="0.5">1/2</option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
            <option value="7.5">7 1/2</option>
            <option>10</option>
            <option>15</option>
            <option>20</option>
            <option>25</option>
            <option>30</option>
            <option>40</option>
            <option>50</option>
            <option>60</option>
            <option>75</option>
            <option>100</option>
            <option>125</option>
            <option>150</option>
            <option value="200">200</option>
          </select>
        </div>
        <div class="btn-group">
          <select class="form-control" role="menu" ng-model="formObject.volts">
            <option value="" disabled selected>Voltage</option>
            <option value="100">100-120</option>
            <option value="200">200-240</option>
            <option value="400">380-480</option>
          </select>
        </div>
      </div>


      <div class="btn-group btn-group-justified">
        <div class="btn-group">
          <button type="button" class="btn btn-primary find" value="Filter" ng-click="submitSearch(formObject)">FIND</button>
        </div>
        <div class="btn-group">
          <button class="btn btn-primary" ng-click="reset()" value="Reset">RESET</button>
        </div>
      </div>

    </div>
  </div>
</div>
</div>
</div>

<div class="container">
  <div class="row row-spacing">
    <div class="container-margin">
    <!-- Nav tabs -->
    <div class="col-md-6 paragraph-text col-right-padding">
      <div class="flex-center-vertically">
      <ul class="nav nav-pills" role="tablist">
        <li role="presentation" class="active"><a target="_self" href="#overview" aria-controls="overview" role="tab" data-toggle="tab">Why Hitachi?</a></li>
        <li role="presentation"><a target="_self" href="#home" aria-controls="home" role="tab" data-toggle="tab">Basics</a></li>
        <li role="presentation"><a target="_self" href="#profile" aria-controls="profile" role="tab" data-toggle="tab">PID Control</a></li>
        <li role="presentation"><a target="_self" href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Dynamic Braking</a></li>
      </ul>
      <!-- Tab panes -->
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="overview">
          <video width="640" height="480" poster="img/VFD_Overview_Thumbnail.jpg" controls>
            <source frameborder="1" src="vids/VFD_Overview_01.mp4">
          </video>
        </div>
        <div role="tabpanel" class="tab-pane" id="home">
          <video width="640" height="480" poster="img/basics_thumbnail1.jpg" controls>
            <source src="vids/VFD_Basics_v2.mp4">
          </video>
        </div>
        <div role="tabpanel" class="tab-pane" id="profile">
          <video width="640" height="480" poster="img/pid-control.jpg" controls>
            <source src="vids/VFD_PID_v1.mp4">
          </video>
        </div>
        <div role="tabpanel" class="tab-pane" id="messages">
          <video width="640" height="480" poster="img/dynamic-braking.jpg" controls>
            <source src="vids/VFD_Braking_v1.mp4">
          </video>
        </div>
      </div>
    </div>
    </div>
    </div>
    <div class="container-margin">
    <div class="col-md-6 paragraph-text col-left-padding">
      <div class="flex-center-vertically">
      <div class="paragraph-title">Easy Setup
        <span style="padding-left:5px"><img src="img/setup-icon.png"></span>
      </div>
      <p class="paragraph-text">The hard part is over! Hitachi inverters come preprogrammed with all the functions you’ll need, so right out of the box its ready and easy to use. For starters, watch the Basics video to review key parameters of the drive, or browse through the Frequently Asked Questions (FAQ) down below. Once familiar with the functions, setting up a Hitachi inverter is quick and simple using the integrated keypad.</p>
    </div>
    </div>
    </div>
  </div>
</div>

<!-- EASY SEQUENCE -->
<div class="container">
  <div class="row row-spacing">
    <div class="container-margin">
    <div class="col-md-6 paragraph-text col-right-padding">
      <div class="flex-center-vertically">
      <div class="paragraph-title">Easy Service
      <span style="padding-left:5px"><img src="img/service-icon.png"></span>
      </div>
      <p class="paragraph-text">Hitachi is proud to be a global brand with local service. All products are stocked in the United States with an authorized service center near you. A technical support representative is available 24/7 to answer any questions not found online or in the product manuals.  Interested in training? We can provide hands-on support to help you safely and easily operate your variable frequency drive. Contact us today to learn more.</p>
    </div>
    </div>
    </div>
    <div class="container-margin">
      <div class="row col-left-padding text-center">
        <div class="col-md-3">
          <div class="flex-center-vertically faq-icon">
          <a href="#faq" class="fade">
            <img src="img/FAQ-Button.png">
            <h4 class="help-icon-text">FAQ</h4>
          </a>
          </div>
        </div>
        <div class="col-md-3">
          <div class="flex-center-vertically guides-icon">
          <a href="#guides" class="fade">
            <img src="img/Guides-Button.png">
            <h4 class="help-icon-text">Guides</h4>
          </a>
          </div>
        </div>
    </div>
  </div>
  </div>
  </div>
</div>
</div>

<br>
<br>
<br>

<div class="container">
  <div class="container-margin">
  <div class="col contact-title">
    <h4>Contact Us Today!</h4>
    <hr>
  </div>
  <div class="guides">
    <form class="contact-form">
      <div class="form-group row">

        <div class="col-md-12">
          <input type="name" class="form-control" id="inputEmail3" placeholder="Name">
        </div>
      </div>
      <div class="form-group row">
        <div class="col-md-12">
          <input type="email" class="form-control" id="inputPassword3" placeholder="Email">
        </div>
      </div>
      <div class="form-group row">
        <div class="col-md-12">
          <input type="company" class="form-control" id="inputPassword3" placeholder="Company">
        </div>
      </div>
      <div class="form-group row">
        <div class="col-md-12">
          <input type="message" class="form-control" id="inputPassword3" placeholder="Message">
        </div>
      </div>
      <div class="form-group row">
        <div class="col-offset-10 col-md-6">
          <button type="submit" class="btn btn-secondary contact-submit">Submit</button>
        </div>
      </div>
    </form>
  </div>
  </div>
</div>

<div class="footer">
  <div class="container">
<div class="row">
  <div class="col-md-6">
    <img class="footer-logo" src="img/HITACHI_INSPIRE_GRAY.png">
  </div>
  <div class="col-md-6">
    <div class="footer-text">
      <p style="font-weight:bold;">Hitachi Industrial Equipment
        <br> Hitachi Industrial Equipment Systems Co., Ltd.
        <br> Hitachi America, Ltd.</p>
    </div>
  </div>
</div>
</div>
</div>